<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzk.lightweightmvc">

    <application>
        <provider
            android:name=".init.InitProvider"
            android:authorities="${applicationId}.mvc-init-provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
